@charset "UTF-8";

.title{
	text-align: center;
	width : 540px;
	margin-top : 100px;
	font-weight: normal;
	font-family : "굴림";
	
}

.content1 {
	border : solid 1px #DDDDDD;
	width : 475px; height : 400px;
	padding-left : 60px;
}

.content1 .login , .content1 .qr{
	border : solid 1px white;
	text-align : "center";
	border-radius: 5px;
	width : 410px; height: 40px;
	margin-bottom : 15px;	
	padding-bottom : 10px;
	padding-top : 10px;
}

.content1 .radiobox {
	margin-bottom : 40px;
	text-align : "left";
	font-size : 15px;
}

.content1 .login {
	background-color: #fee500;
}

.content1 .input {
	width : 400px; height : 40px;
	font-size: 18px;
	border : 1px;
	padding-left: 10px;	
	border-bottom : solid 2px #dadada;
	padding-bottom : 5px;
	
}

.content1 .okay1 {
	margin-left : 200px;
	font-size : 11px;
	border : 0px;
	background-color: #ffffff;
}

.content1 .okay {
	font-size : 11px;
	border : 0px;
	background-color : #ffffff;
	border-left : solid 1px #dadada;
}

.content2 {
	width : 700px;
	
	margin-top : 30px;
}

.content2 .service1 {
	padding-top : 12px;
	background-color: #ffffff;
	border : 0px;
	font-size: 11px;
	padding-left: 60px;
	
	
}	

.content2 .service {
	padding-top : 12px;
	background-color: #ffffff;
	border : 0px;
	font-size: 11px;
	
}

.content2 .service2 {
	padding-top : 12px;
	background-color: #ffffff;
	border : 0px;
	font-size: 11px;
	font-weight: bold;
}

.content2 .lang {
	padding-top : 12px;
	background-color: #ffffff;
	border : 0px;
	font-size: 11px;
}

.content2 .last {
	font-size : 11px;
	padding-left: 165px;
	color : gray;
	padding-top : 10px;
}

.content2 .color {
	font-size : 11px;
	
	color : black;
}