@charset "UTF-8";

.title{
	text-align: center;
	margin-top : 100px;
	font-weight: normal;
}

.content1 {
	border : solid 1px #DDDDDD;
	width : 475px; height : 370px;
	padding : 30px;
}

